container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    PYTHONPATH: "$PYTHONPATH"
    SECRET_KEY: "v9s3s8e363it$l0uk8rq%lsnw3oqz@7dc5w5@xf*=02&^hknmz"
    DEBUG: "True"
    ALLOWED_HOSTS: "127.0.0.1 0.0.0.0 localhost django-eb-dev.us-west-2.elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/wsgi.py"
    StaticFiles: "/static/=static/"

packages:
  yum:
    postgresql96-devel: []
