<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.css" integrity="sha256-c0kT5aMIjtsU00xTb2BRHw8tBQffDOE2EAUaHSYFbu0=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.2/bokeh.min.js" integrity="sha256-JOsToc27fokNFt3bd4aCO4GfcTmU9IYmQ0YoBsQiK4s=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/modules.css')}}">
